@{
    ViewBag.Title = "A propos de nous...";
}
<h2>@ViewBag.Title.</h2>

<div class="row">
    <div class="col-md-6">
        <br>
        <br>
        <p>
            <h4>Avant tout, spécialiste des destinations et du voyage « sur mesure »</h4>
        </p>
        <p>
            BoVoyage privilégie la connaissance du terrain, ce qui lui permet pour chacune des destinations programmées, de proposer un choix de déclinaisons, de formules, d’itinéraires classiques ou hors des sentiers battus, de niveaux de confort ou d’efforts, permettant à chaque voyageur de définir avec l’aide de nos Créateurs de Voyages, tous natifs ou passionnés de leurs destinations, un circuit sur-mesure adapté à ses attentes et ses envies.
        </p>
        <h4>Un esprit du voyage différent et des valeurs qui nous tiennent à cœur</h4>

        <p>
            Chaque voyage est l’occasion d’une rencontre entre deux mondes. Tout voyageur est avant tout l’invité d’un pays et de sa population. Chaque pays visité est notre hôte. Le plaisir de voyager repose essentiellement sur cette relation hôte – invité. Apprendre, s’instruire, prendre en exemple, rencontrer, échanger et partager font partie des valeurs que nous défendons.
            Depuis ses origines, Terre Voyages adhère aux principes d’un tourisme solidaire, équitable et durable.
        </p>
        <h4> Entre vous et nous...</h4>

        <p>
            Nous sommes une équipe d’hommes et de femmes, réunis par une même passion et, spécialistes, car natifs ou amoureux, des destinations proposées. Notre plaisir est de vous faire partager les émotions que nous avons ressenties lors de la découverte d’un pays, d’une région, d’une population.
        </p>
    </div>
    <div class="col-md-6">
    </div>
</div>