@model ICollection<BoVoyageMVC.Models.Voyage>

@{
    ViewBag.Title = "Accueil";
}

<div>
    <h1>BoVoyage</h1>
</div>

<div class="tab">
    <button class="tablinks" onclick="openCity(event, 'bestPrice')">Les moins chers</button>
    <button class="tablinks" onclick="openCity(event, 'soon')">Depart imminent</button>
    <button class="tablinks" onclick="openCity(event, 'popular')">Top5 des destinations</button>
</div>

<div id="bestPrice" class="tabcontent">
    <div class="row">
        @{IEnumerable<BoVoyageMVC.Models.Voyage> topBestPrice = Model.OrderBy(x => x.UnitPublicPrice);


            for (int i = 0; i < 5; i++)
            {
            <div class="col-md-2">
                <div class="card">
                    @{ if (topBestPrice.ElementAt(i).Destination.Images?.Count > 0)
                        {

                            <img src="data:@topBestPrice.ElementAt(i).Destination.Images.ElementAt(0).ContentType;base64,
                         @Convert.ToBase64String(topBestPrice.ElementAt(i).Destination.Images.ElementAt(0).Content)" alt="sejour de rêve" style="width:100%">
                        }
                        }
                    <h4>@topBestPrice.ElementAt(i).Destination.Country</h4>
                    <h5>@topBestPrice.ElementAt(i).Destination.Region</h5>
                    <p class="price">@topBestPrice.ElementAt(i).UnitPublicPrice</p>
                    <p><button>En savoir plus</button></p>
                </div>
            </div>
        } 
        }
    </div>
</div>

<div id="soon" class="tabcontent">
    <div class="row">
        @for (int i = 0; i < 5; i++)
        {
            <div class="col-md-2">
                <div class="card">
                    <p id="countdown"></p>
                    <img src="https://picsum.photos/200/150" alt="sejour de rêve" style="width:100%">
                    <h1>Travel</h1>
                    <p class="price">199€</p>
                    <p>un sejour de rêve!</p>
                    <p><button>Reserver</button></p>
                </div>
            </div>
        }
    </div>
</div>

<div id="popular" class="tabcontent">
    <div class="row">
        @for (int i = 0; i < 5; i++)
        {
            <div class="col-md-2">
                <div class="card">
                    <img src="https://picsum.photos/200/150" alt="sejour de rêve" style="width:100%">
                    <h1>Travel</h1>
                    <p class="price">199€</p>
                    <p>un sejour de rêve!</p>
                    <p><button>Reserver</button></p>
                </div>
            </div>
        }

    </div>
</div>


