@model ICollection<BoVoyageMVC.Models.Voyage>

@{
    ViewBag.Title = "Accueil";
}

<div>
    <h1>BoVoyage</h1>
</div>

<div class="tab">
    <button class="tablinks" onclick="openCity(event, 'bestPrice')">Les moins chers</button>
    <button class="tablinks" onclick="openCity(event, 'soon')">Depart imminent</button>
    <button class="tablinks" onclick="openCity(event, 'popular')">Top5 des destinations</button>
</div>

<div id="bestPrice" class="tabcontent">
    <div class="row">
        @for (int i = 0; i < 5; i++)
        {
            <div class="col-md-2">
                <div class="card">
                    <img src="https://picsum.photos/200/150" alt="sejour de rêve" style="width:100%">
                    <h1>Travel</h1>
                    <p class="price">199€</p>
                    <p>un sejour de rêve!</p>
                    <p><button>Reserver</button></p>
                </div>
            </div>
        }
    </div>
</div>

<div id="soon" class="tabcontent">
    <div class="row">
        @for (int i = 0; i < 5; i++)
        {
            <div class="col-md-2">
                <div class="card">
                    <p id="countdown"></p>
                    <img src="https://picsum.photos/200/150" alt="sejour de rêve" style="width:100%">
                    <h1>Travel</h1>
                    <p class="price">199€</p>
                    <p>un sejour de rêve!</p>
                    <p><button>Reserver</button></p>
                </div>
            </div>
        }
    </div>
</div>

<div id="popular" class="tabcontent">
    <div class="row">
        @for (int i = 0; i < 5; i++)
        {
            <div class="col-md-2">
                <div class="card">
                    <img src="https://picsum.photos/200/150" alt="sejour de rêve" style="width:100%">
                    <h1>Travel</h1>
                    <p class="price">199€</p>
                    <p>un sejour de rêve!</p>
                    <p><button>Reserver</button></p>
                </div>
            </div>
        }

    </div>
</div>


