@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BoVoyage</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Les meilleurs prix!</h2>
        <div class="row">
            @for (int i = 0;i <5 ;i++)
            { 
            <div class="container">
                <img src="https://picsum.photos/200/100">
                <div class="text-block">
                    <h4>Nature</h4>
                    <p>What a beautiful sunrise</p>
                </div>
            </div>
            }
        </div>

    </div>
    <div class="col-md-4">
        <h2>Depart imminent!</h2>
        <div class="row">
            @for (int i = 0; i < 5; i++)
            {
                <div class="container">
                    <img src="https://picsum.photos/200/100">
                    <div class="text-block">
                        <h4>Nature</h4>
                        <p>What a beautiful sunrise</p>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-md-4">
        <h2>Le plus presents</h2>
        <div class="row">
            @for (int i = 0; i < 5; i++)
            {
                <div class="container">
                    <img src="https://picsum.photos/200/100">
                    <div class="text-block">
                        <h4>Nature</h4>
                        <p>What a beautiful sunrise</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>