@model BoVoyageMVC.Models.IndexViewModel
@{
    ViewBag.Title = "Gérer votre compte";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
  
    <hr />
    <dl class="dl-horizontal">
        <dt>Mot de passe :</dt>
        <dd>
            
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Changer votre mot de passe", "ChangePasswordBo")
            }
            else
            {
                @Html.ActionLink("Créer", "SetPassword")
            }
            
        </dd>       
    </dl>
</div>
