<!--<connectionStrings>
  <add name="BoVoyageMVC" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-BoVoyageMVC-20181010095742.mdf;Initial Catalog=aspnet-BoVoyageMVC-20181010095742;Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>-->

<connectionStrings>
  <add name="BoVoyageMVC" connectionString="Data Source=poec201807.database.windows.net,1433;Initial Catalog=GROUPE2;User ID=Groupe2;Password=Poec2018Paris;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />
</connectionStrings>
<!--ici on met la chaine de connexion Azure-->