@using BoVoyageMVC.Models;
@{
    Layout = null;
    var message = TempData["MESSAGE"] as Message;
}

@if (message != null)
{
    <div id="message" style="color:blueviolet; float:right" class="alert alert-@(message.MessageType ==  MessageType.SUCCES ? "success" : "danger") container ">

        @message.Text
    </div>
}
