@model BoVoyageMVC.Models.AgenceVoyage

@{
    ViewBag.Title = "Supprimer Agence";
}


<div class="detail">
    <h3>Etes vous sûr de vouloir supprimer</h3>
    <div>

        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> 
                <div class="btn btn-info">
                    @Html.ActionLink("Retour", "Index")
                </div>
            </div>
        }
    </div>
</div>